extends layout

block content 
  // Begin Page Content
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800
    // Content Row
    .row
      .col-lg-12.mb-4
          #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
            // DataTales Example 
            .card.shadow.mb-4
              .card-header.py-3
                h6.m-0.font-weight-bold.text-primary
                  br
              .card-body
                .table-responsive
                  table.table.table-bordered(width='100%', cellspacing='15')
                    thead
                      tr
                        th Company Name
                        th Email
                        th Phone
                        th Address
                        th City
                        th County
                        th Postcode
                        th Country
                    tbody
                      tr
                        td #{outworker.name.firstname} #{outworker.name.lastname} 
                        td #{outworker.email}
                        td #{outworker.phonenumber.phone}
                        td #{outworker.address.streetaddress}
                        td #{outworker.address.city}
                        td #{outworker.address.county}
                        td #{outworker.address.postcode}
                        td #{outworker.address.country}
                          
            
          // /.container-fluid
          // End of Main Content                      
  